<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nancetide.mapper.CourseMapper">

    <select id="getCoursePage" resultType="com.nancetide.entity.Course">
        select * from courses
        limit #{offset}, #{limit}
    </select>

    <select id="getTotalCourse" resultType="java.lang.Integer">
        select count(course_id) from courses
    </select>

    <update id="updateCourseById">
        update courses
        <set>
            <if test="courseName != null and courseName != ''">
                course_name = #{courseName},
            </if>
            <if test="credit != null">
                credit = #{credit}
            </if>
        </set>
        where course_id = #{courseId}
    </update>

    <insert id="insertCourse">
        insert into courses(course_id, course_name, credit) values
        (#{courseId}, #{courseName}, #{credit})
    </insert>

    <delete id="deleteCourseById">
        delete from courses
        where course_id = #{courseid}
    </delete>

    <select id="getCourseSearch" resultType="com.nancetide.entity.Course">
        select * from courses where course_id like concat('%', #{like}, '%') or course_name like concat('%', #{like}, '%');
    </select>

    <select id="getAllCourse" resultType="com.nancetide.entity.Course">
        select * from courses
    </select>

</mapper>
