<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nancetide.mapper.MajorMapper">

    <select id="getMajorByCriteria" resultType="com.nancetide.entity.Major">
        select * from majors
        <where>
            <if test="majorId != null">
                major_id = #{majorId}
            </if>
            <if test="majorName != null">
                or major_name = #{majorName}
            </if>
        </where>
    </select>

</mapper>