<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nancetide.mapper.StudentViewMapper">

    <select id="getStudentViewByStudentId" resultType="com.nancetide.entity.StudentView">
        select * from students_view
        where student_id = #{studentId}
    </select>

    <select id="getStudentViewPage" resultType="com.nancetide.entity.StudentView">
        select * from students_view
        limit #{offset}, #{limit}
    </select>

    <select id="getTotalStudent" resultType="java.lang.Integer">
        select count(student_id) from students_view
    </select>

    <select id="getAllStudentView" resultType="com.nancetide.entity.StudentView">
        select * from students_view
    </select>

    <select id="getStudentViewSearch" resultType="com.nancetide.entity.StudentView">
        select * from students_view where student_name like concat('%', #{like}, '%') or student_id like concat('%', #{like}, '%');
    </select>

</mapper>