<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nancetide.mapper.StudentMapper">
    <select id="getAllStudent" resultType="com.nancetide.entity.Student">
        select * from students;
    </select>

    <select id="getMaleStudent" resultType="com.nancetide.entity.Student">
        select * from students
        where gender = 1;
    </select>

    <select id="getStudentByCriteria" resultType="com.nancetide.entity.Student">
        select * from students
        <where>
            <if test="studentId != null">
                student_id = #{studentId}
            </if>
            <if test="studentName != null">
                and student_name = #{studentName}
            </if>
        </where>
    </select>

</mapper>